<!doctype html>
<html>
<head><title>Guess the Number</title></head>
<body>
    <p>
        {{ result_comment }}
    </p>
    <p>
        <b>Tries {{ state['round'] + 1 }}</b><br />
        Guess the integer ({{ state['LOWER'] }} - {{ state['UPPER'] }})...
        <form action="{{ url_for('process_guess') }}" method="POST">
            <input type="number" name="guess" value="{{ state['LOWER'] }}" min="{{ state['LOWER'] }}" max="{{ state['UPPER']}}" />
            <input type="submit" value="it's this number!!" />
        </form>
    </p>
    <p>
        <form action="{{ url_for('home') }}">
            <input type="submit" value="flip table" />
        </form>
    </p>
</body>
</html>
