<!doctype html>
<html>
<head><title>Guess the Number</title></head>
<body>
    <p>
        Welcome to a new game of <b>Guessing the Number</b>.
    </p>
    <p>
        A random integer has been picked between {{ lower }} to {{ upper }} inclusively.
        Please guess the integer with as few tries as possible.
    </p>
    <p>
        After every guess, we will inform you whether your guess is smaller or larger than the hidden integer.
    </p>
    <p>
        <form action="{{ url_for('start_game') }}">
            <input type="submit" value="bring it on!" />
        </form>
    </p>
</body>
</html>
