<!doctype html>
<html>
<head><title>Guess the Number</title></head>
<body>
    <p>
        You took a total of {{ states | length }} tries to get the hidden integer of {{ value }}.
    </p>
    {% for state in states %}
        <p>Tries {{ state['round'] }}: {{ state['guess'] }}</p>
    {% endfor %}
    <p>
        <form action="{{ url_for('home') }}">
            <input type="submit" value="play again?" />
        </form>
    </p>
</body>
</html>
